


html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-size: 1rem;
  color: #444444; 
}

.container_position {
  border: 1px solid red;
}

.header {
  font-size: clamp(2.5rem, calc(4vw + 1rem), 5rem);
  line-break: 3rem;
  letter-spacing: 0.09375rem;
}

.sub_header {
  font-size: clamp(1rem, calc(1vw + .5rem), 1.25rem);
  line-break: 3rem;
  letter-spacing: 0.028125rem;
}
